.about{
    @media screen and (min-width: 798px){
  backdrop-filter: blur(4px);
background: $--bakery-landing-1-c2;
}
    padding: 40px 0;

    &__items{
        border-radius: 24px;
background: $--bakery-landing-1-s4;
padding: 34px 40px;
display: flex;
flex-direction: column;
gap: 16px;
@media screen and (min-width: 798px){
flex-direction: row;
background-color: transparent;
}

    }

    &__text{
        font-weight: 300;
font-size: 14px;
    }
}