.ches {
  padding: clamp(2.5rem, 1.321rem + 5.89vw, 6rem) 0;

  &__title {
    text-align: center;
    font-size: clamp(2.25rem, 1.661rem + 2.95vw, 4rem);
    font-weight: 900;
    margin: 0 auto;

    width: clamp(18.75rem, 13.739rem + 25.05vw, 33.625rem);
    height: 96px;

    &::before{
        content: '';
        display: block;
        width: clamp(22rem, 41.342rem + -44.21vw, 6.25rem);
        height: 2px;
        background-color:   $--bakery-landing-1-c5;
        transform: translate(-300px,132px);
            @media screen and (max-width: 1270px) {
      display: none;
    }
    }
    &::after{
        content: '';
        display: block;
        width: clamp(22rem, 41.342rem + -44.21vw, 6.25rem);
        height: 2px;
        background-color:   $--bakery-landing-1-c5;
        transform: translate(500px,-18px);
                    @media screen and (max-width: 1270px) {
      display: none;
    }
    }
  }

  &__span {
    color: $--bakery-landing-1-s3;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: clamp(0.938rem, 0.622rem + 1.58vw, 1.875rem);
    margin-top: clamp(1.5rem, -0.311rem + 9.05vw, 6.875rem);

    @media screen and (min-width: 700px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    gap: clamp(1rem, 0.705rem + 1.47vw, 1.875rem);
  }

  &__gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // width: clamp(6.25rem, 2.25rem + 20vw, 18.125rem);
    @media screen and (min-width: 700px) {
      width: clamp(6.25rem, -7.566rem + 31.58vw, 17.5rem);
    }
  }
  &__image {
    width: clamp(9.75rem, 7.392rem + 11.79vw, 16.75rem);
    height: clamp(14.313rem, 10.923rem + 16.95vw, 24.375rem);
    border-radius: 0 0 0 200px;
    box-shadow: -8px 8px 0 0 $--bakery-landing-1-background,
      -8px 8px 0 2px $--bakery-landing-1-c2;
  }
}
