.hero {
    padding: 100px 0 90px 0;
  display: flex;
  align-items: center;
background:
  linear-gradient(
    102.76deg,
    rgba(18, 18, 17, 0.78) 2.03%,
    rgba(18, 18, 17, 0.6) 58.46%,
    rgba(18, 18, 17, 0) 90.36%
  ),
  url("../images/peeple.jpg") 70% top / cover no-repeat;
  @media screen and (min-width: 798px){
  padding: 150px 0 140px 0;
}
  @media screen and (min-width: 1270px){
  padding: 230px 0 300px 0;
}

  &__title {
    text-align: center;
    // display: block;
    font-size: clamp(67px,8vw,110px);
    // font-size: 67px;
    line-height: 1;
    font-weight: 900;

// @media screen and (min-width: 798px){
//     font-size: 80px;
// }

// @media screen and (min-width: 1270px){
//     font-size: 110px;
// }
  }

  &__brend{
    color: #819b57;
    height: 100%;
  }

  &__pakary{
        color: $--bakery-landing-1-background;
  }

  &__button {
    display: flex;
    font-weight: 700;
    font-size: 13px;
    background-color: $--bakery-landing-1-c2;
    border: 0.15rem solid $--bakery-landing-1-c2;
    padding: 1rem 2rem;
    color: $--bakery-landing-1-background;
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;

    &:hover {
      background-color: transparent;
      color: $--bakery-landing-1-s3;
    }
    @media screen and (min-width: 1270px) {
      display: none;
    }
  }
}
