body {
  font-family: "Poppins", sans-serif;
    margin: 0;
  padding: 0;
  color: $--bakery-landing-1-s1;
  background-color:    $--bakery-landing-1-background;

}

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// .hero__wrap {
//   // min-height: 100vh;



//   display: flex;
//   flex-direction: column;
// }


