
   $--bakery-landing-1-background: #FAF4EA;
  $--bakery-landing-1-s1: #31261A;
  $--bakery-landing-1-c2: #819B57;
  $--bakery-landing-1-s3: #465929;
  $--bakery-landing-1-s4: #CFCFBC;
  $--bakery-landing-1-c5: #A18268;
